
.mohamed2{
   
  
    width: 70px;
    height: 70px;
    border-radius: 50%;
   
} 
.hrfull{
    margin-block-end: 0;
    margin-block-start: 0;
}
.a{
    text-decoration: none;

}
.logo{
    width: 110px;
    height: 110px;
    margin:5px;
}
.logo2{
    width: 80px;
    height: 80px;
   
}
.body{
    margin: 0;
    background-color:#f3f2ef
}