.body{
    margin: 0;
    background-color:#f3f2ef
}
.hrfull{
    margin-block-end: 0;
    margin-block-start: 0;
}

a{
    text-decoration: none;
    color: black;
    
}

.centerofgroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
