.es_font1{
    padding: 0;
    margin-left: 10px;
    font-weight: 500;
    color: #2776df;
} 
.es_button1{
    
    height: 33px;
    padding-left: 5px;
    padding-right: 15px;
    border-radius: 25px;
    margin-top: 7px;
    margin-left: 1px;
    background-color:white;
    border: #2776df 1px solid;
}
.es_button1:hover{
   
    height: 33px;
    padding-left: 5px;
    padding-right: 15px;
    border-radius: 25px;
    margin-top: 7px;
    margin-left: 1px;
    border: #3e81d8 2px solid;
    background-color: #d0e8f5;
    
}
.es_img1{
    width: 200px;
    height: 200px;
}
.es_font{
    color: black;
    opacity: 0.9;
}
.es_button2{
    border-radius: 25px;
    padding-left: 5px;
    padding-right: 5px;
    width: 65px;
    height: 30px;
    background-color: #0b72f8 ;
    color: white;
    border: 0;
}
.es_button2:hover{
    border-radius: 25px;
    padding-left: 5px;
    padding-right: 5px;
    width: 65px;
    height: 30px;
    background-color: #095bc7 ;
    color: white;
    border: 0;
}
.es_alart
{
    width: 700px;
    height: 520px;
    margin-top: 28px;
    margin-left: 20px;
    margin-right: 100px;
    overflow-y: hidden;
}
.es_link{
    text-decoration: none;
    font-weight: 500;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(40, 110, 40);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(40, 110, 40);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .es_div{
    height: 380px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .es_div2{
    text-align: center;
  }
  .es_body{
    height: 440px;
    
  }
  .es_font2{
    color: black;
    font-size: 12px;
    margin-bottom: 2px;
  }
  .es_font3{
    opacity: 0.8;
  }
  .es_font4{
    font-size: 14px;
    margin-bottom: 0;
  }
  .es_card{
    padding: 20px 20px 0 20px;
    margin-bottom: 25px;
  }
  .es_icon{
    margin-bottom: 1px;
    margin-right: 3px;
  }
  .es_body_app{
    margin-left: 150px;
    margin-right: 120px;
    padding: 20px;
    background-color: white;
  }
  .es_body_app2{
    
    padding-bottom: 600px;
    padding-top: 30px;
  }
  .es_div2_app{
    padding: 15px;
  }
  .es_header_app{
    margin: 20px 0 20px 0;
    font-weight: 500;
  }
  .custom-file-upload {
    height: 33px;
    padding-left: 5px;
    padding-right: 15px;
    border-radius: 25px;
    margin-top: 7px;
    margin-left: 1px;
    color: #2776df;
    font-weight: 500;
    border: #2776df 1px solid;
    cursor: pointer;
    padding-top: 2px;
}
.custom-file-upload:hover {
    height: 33px;
    padding-left: 5px;
    padding-right: 15px;
    border-radius: 25px;
    margin-top: 7px;
    margin-left: 1px;
    color: #2776df;
    font-weight: 500;
    background-color: #d0e8f5;
    border: #2776df 2px solid;
    cursor: pointer;
    padding-top: 2px;
}
input[type="file"] {
    display: none;
}